:root {
  --space-0: 0px;
  --space-2: 12px;
  --space-4: 24px;
  --size-gap: 64px;
  --text-color-1: rgba(255, 255, 255, 1);
  --text-color-2: rgba(0, 0, 0, 1);
  --text-color-3: rgba();
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  font-family: "Graphik", sans-serif;
  overflow: hidden;
  overflow-y: scroll;
  background-color: theme(colors.cyanaqua);
  border-top: 2px solid theme(colors.cyanaqua);
  border-bottom: 2px solid theme(colors.cyanaqua);
  background-image: radial-gradient(
    145.05% 100% at 50% 0,
    theme(colors.bodybg3) 27%,
    theme(colors.bodybg2) 54%,
    theme(colors.bodybg3) 81%
  );
}
.main-view {
  width: 1100px !important;
}
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: var(--text-color-1);
  font-family: "Akatab", sans-serif;
}
a,
p {
  font-size: 18px;
  line-height: 28px;
  text-decoration: 8px;
}
ul li .icon {
  color: theme(colors.cyanaqua);
}
ul li .icon .svg-inline--fa {
  width: var(--space-4);
}
.header-section {
  background-image: linear-gradient(
    0.25turn,
    theme(colors.header1) 10%,
    theme(colors.header2) 50%,
    theme(colors.header3) 80%
  );
  width: 100%;
  height: 68px;
}
.header-section a {
  color: theme(colors.bodybg1);
}
.title,
.title2 {
  font-family: "Akatab", sans-serif;
}
.title {
  color: theme(colors.blue);
}
.title2 {
  color: theme(colors.cyanaqua);
}
.dot {
  width: 10px;
  height: 10px;
  background-color: theme(colors.gray);
  border-radius: 50%;
  position: relative;
}
.circle {
  width: 20px;
  height: 20px;
  border: 2px solid theme(colors.gray);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.line {
  border: 1px solid theme(colors.gray);
  position: absolute;
  top: 4px;
  left: 15px;
  width: 160px;
  z-index: 40;
}
.active {
  background-color: theme(colors.cyanaqua);
}
.active .circle,
.active .line {
  border-color: theme(colors.cyanaqua);
  box-shadow: 0px 0px 20px 2px theme(colors.cyanaqua);
}
section .data-section {
  padding-bottom: 20px;
}
.deg-45 {
  transform: rotate(-45deg);
}
